pysqlite3-binary
streamlit
logging
pymongo==4.13.2
mistralai==1.9.1
pypdf==6.0.0
langchain-text-splitters==0.3.9
openai==1.99.9
chromadb==1.0.17
tiktoken
unstructured
ragas==0.3.3
langchain-chroma==0.2.5
langchain-community==0.3.29
langchain-core==0.3.75
langchain-openai==0.3.32
